:root {
    --primary: #3a78a7;
    --gray-1: #17386e;
    --gray-2 : #324355;
    --light-grey: #efefef;
    --text-color: #444;
    --error : #e74c3c;
    --divider: #ecf0f1;
    --font-family: 'Mulish', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0 ;
}